<section  id="home" class="home">
    <h2 class="title">
        Facilitando sua jornada
    </h2>
    <p class="text-center">
        FacilitaMEI te da o passo a passo para
        para a formalização do seu negócio.
    </p>
    <p class="text-center">
        100% GRATUITO
    </p>

    <form class="card">
        <label for="">Nome</label>
        <input type="text" placeholder="Digite seu nome completo">

        <label for="">E-mail</label>
        <input type="text" placeholder="Digite seu endereço de e-mail">

        <button type="submit">Abrir MEI</button>
    </form>
</section>

<section id="steps" class="steps">
    <h2>
        Já possui MEI? encontre mais solução
        para sua jornada empreendedora
    </h2>

    <div class="d-flex">
        <div>
            <div class="circle">
                1
            </div>

            <div class="vertical"></div>

            <div class="circle">
                2
            </div>

            <div class="vertical"></div>

            <div class="circle">
                3
            </div>
        </div>

        <div>
            <p>Nessa página preencha os campos</p>
            <p>Acesse ou crie sua conta uol</p>
            <p>Termine de preencher os dados de sua empresa e pronto!</p>
        </div>
    </div>

</section>
<section id="benefits">
    <h2>
        Faça parte da nossa história
    </h2>

    <div class="line"></div>

    <img src="" alt="">
    <h3>
        Fique tranquilo, a qualidade é UOL
    </h3>
    <p>
        Há mais de 20 anos no mercado, o UOL é a maior empresa brasileira de conteúdo, serviços e produtos da internet.
    </p>

    <img src="" alt="">
    <h3>
        Atendimento premiado 24/7, totalmente em português
    </h3>
    <p>
        Precisa de ajuda? Ligue para nós e receba atendimento especializado a qualquer dia e a qualquer hora.
    </p>

    <img src="" alt="">
    <h3>
        Tenha tudo que é preciso para seu negócio ser um sucesso
    </h3>
    <p>
        Do registro do seu domínio até a criação e divulgação do seu site ou loja virtual, você encontra as melhores
        soluções no UOL.
    </p>
</section>
<section id="products">
    <div class="left-color">
        Criador de sites
    </div>
    <p>
        Com um e-mail @suaempresa.com.br, você passa mais credibilidade aos seus clientes e demonstra a seriedade da sua
        marca.
    </p>
    <button>Crie seu e-mail agora</button>

    <div class="left-color">
        Loja Virtual
    </div>
    <p>
        Com UOL Anúncios, você conquista novos clientes por meio da divulgação dos seus produtos ou serviços nas páginas
        do UOL, o maior site de conteúdo da América Latina.
    </p>
    <button>Confira os planos</button>
</section>
<section id="faq">
    <h2>Dúvidas frequentes</h2>

    <p>faq</p>

    <p>Ficou com alguma dúvida? Acesse nossa página de<a href="#"> Ajuda</a></p>
</section>
<footer id="footer" class="footer">
    <p>
        Contrate também pela nossa Central de Vendas:
        4003 6118 (Capitais e Regiões Metropolitanas)
        ou 0800 703 3000 (Demais localidades)
    </p>

    <img src="" alt="">

    <p>Marque presença na internet </p>
    <p>Gerencie sua empresa </p>
    <p>Divulgue seu negócio </p>
    <p>Área do cliente</p>
    <p>Painel do Cliente</p>
    <p>2º via de boleto </p>
    <p>Atendimento via chat</p>
    <p>Atendimento por e-mail</p>

    <p>
        Compartilhe
    </p>

    <div class="d-flex">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>

    <small>Todos os sites do UOL são hospedados no<a href="#"> UOL HOST</a></small>

    <small>© 2018 UOL - O melhor conteúdo. Todos os direitos reservados.
        UNIVERSO ONLINE S/A - CNPJ/MF 01.109.184/0001-95 -
        Av. Brigadeiro Faria Lima, 1.384, São Paulo/SP - CEP 01452-002</small>
</footer>